<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>ecmastatus</title>
	</head>
	<body>
		<style type="text/css">
			@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
			
			html, body {     height: 100%; }

			p {
	  			font-family: 'Montserrat', sans-serif;
			}
		</style>

		<p id="Status">{{ .Data }}</p>

		<script type="text/javascript">
			ws = new WebSocket("ws://localhost:9000/ws");

			ws.onopen = function (e) {
				console.log("[open] Connection established");
			};

			ws.onmessage = function(event) {
				let status = document.getElementById("Status");
				status.innerText = event.data;
			};


			ws.onclose = function (event) {
				if (event.wasClean) {
					console.log(
						`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`
					);
					ws.close()
				} else {
					ws.close()
					console.log("[close] Connection died");
				}
			};

			ws.onerror = function(error) {
				console.log(error)
			}
		</script>
	</body>
</html>